@font-face {
	font-family: "Roboto";
	src: local("Roboto"), url("./roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	src: local("Roboto"), url("./roboto/Roboto-Bold.ttf") format("truetype");
	font-weight: bold;
}
