
.project-header {
	font-family: "Roboto", "Trebuchet MS", sans-serif;
	font-weight: bold;
}

.project-description {
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-size: 14px;
}
